name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true
          python-version: "3.13"

      - name: Install dependencies
        run: uv pip install -r requirements-dev.txt --prerelease=allow

      - name: Lint with ruff
        run: ruff check custom_components/blitzortung

      - name: Check format with ruff
        run: ruff format --check custom_components/blitzortung

      - name: Run prek
        run: |
          prek run \
            end-of-file-fixer \
            trailing-whitespace \
            check-yaml \
            check-json \
            check-toml \
            mixed-line-ending \
            --all-files

      - name: Run tests
        run: pytest tests --cov=custom_components/blitzortung --cov-report=term-missing
